<style>
    .flex-gt-xs-50 {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 50% !important;
        flex: 1 1 50% !important;
        box-sizing: border-box;
    }
</style>

<div class="widget-group layout-wrap layout-row" layout="row" layout-wrap style="padding: 5px">
    <ms-widget ng-repeat="game in vm.games" layout="row" flex="50" class="ms-widget ng-isolate-scope layout-row flex-gt-xs-50 flex-gt-md-15 flex-gt-lg-10 flex-gt-xl-5"
        ng-click="vm.goToGame(game.game)">
        <ms-widget-front class="white-bg ms-widget-front ng-scope">
            <a href="">
                <div class="ng-scope layout-align-center-center layout-row" layout="row" layout-align="center center">
                    <div>
                        <img ng-src="assets/images/screenshots/{{game.game.name.replace(':', '-')}}-272x380.jpg" err-src="https://static-cdn.jtvnw.net/ttv-boxart/{{game.game.name}}-272x380.jpg" style="width: 100vh"/>
                    </div>
                </div>
            </a>
            <div class="p-5 grey-50-bg border-top ng-scope layout-align-start-center layout-row flex-gt-xs-50 flex-100" flex-gt-xs="100"
                layout="row" flex="100" layout-align="start center" style="padding-bottom: 0px;padding-top:2px" ng-if="vm.windowSize < 500? false: true">
                <span class="layout-align-start text-truncate ng-binding">
                    <a style="color:rgba(0,0,0,0.54);">{{game.game.name}}</a>
                    </span>
            </div>
            <div class="p-5 grey-50-bg ng-scope layout-align-start-center layout-row flex-gt-xs-50 flex-100" flex-gt-xs="100" layout="row"
                flex="100" layout-align="start center" style="padding-top: 0px;padding-bottom:2px" ng-if="vm.windowSize < 500? false: true">
                <span class="secondary-text text-truncate ng-binding" style="font-size:10px">{{game.viewers | number}} viewers</span>
                </span>
            </div>
        </ms-widget-front>
    </ms-widget>
</div>
