<div class="widget-group layout-wrap layout-row flex-100" layout="row" flex="100" layout-wrap="">
    <ms-widget ng-repeat="channel in vm.channels" flippable="true" layout="column" flex="100" 
        flex-gt-xs="25" flex-gt-md="20" class="ms-widget ng-isolate-scope layout-column flex-gt-xs-25 flex-gt-md-20 flex-100" 
        ng-click="vm.goToUser(channel)" ng-style="vm.windowSize < 360? {'max-width':'25em'}: {'max-width':'22em'}">
        <ms-widget-front class="white-bg ms-widget-front ng-scope">
            <a href="">
                <div class="ng-scope layout-align-center-center layout-column" layout="column" layout-align="center center">
                    <div>
                        <img ng-src="{{channel.preview.medium}}" />
                    </div>
                </div>
            </a>
            <div ng-if="vm.windowSize < 360? false: true" class="p-5 grey-50-bg border-top ng-scope layout-align-start-center layout-row flex-gt-xs-50 flex-100" flex-gt-xs="100"
                layout="row" flex="100" layout-align="start center" style="padding-bottom: 0px;">
                <span class="layout-align-start text-truncate ng-binding"><a style="color:rgba(0,0,0,0.54);">{{channel.channel.status}}<a></span>
            </div>
            <div class="p-5 grey-50-bg ng-scope layout-align-start-center layout-row flex-gt-xs-50 flex-100" flex-gt-xs="100"
                layout="row" flex="100" layout-align="start center" ng-style="vm.windowSize < 360? {'padding-top': '10px'}:{'padding-top': '0px'}">
                <span class="layout-align-start secondary-text text-truncate ng-binding" style="font-size:10px">
                    {{channel.viewers | number}} viewers on 
                    <a style="color:rgba(0,0,0,0.54);font-size:10px">&nbsp; {{channel.channel.name}} </a>
                </span>
            </div>
        </ms-widget-front>
    </ms-widget>
</div>